* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: rgb(234, 208, 175);
  width: 35vw;
  height: 95vh;
}
