* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(156, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

#root {
  background-color: rgb(244, 162, 89);
  width: 35vw;
  height: 95vh;
}
